body{
    background-image: url('./image.jpg');
}
.quiz_card{
    background-color: white;
}
.active{
    background-color: green;
}
.mainBox{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.quizBox{
    width: 40%;
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
}

.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid black;
}
.quizBody{
    width: 100%;
    padding: 8px;
}
.quizBody div{
    margin: 20px 0;
}
.quizBody li{
    list-style: none;
    margin: 20px 0;
    border: 1px solid black;
    padding: 7px;
    cursor: pointer;
    
}
.quizBody li:hover{
    background-color: grey;
}

.footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border-top: 1px solid black ;
    align-items: center ;
}
.footer button{
    border: none;
    border-radius: 8px;
    padding: 8px;
    background-color: #2448fc;
    color: white;
    cursor: pointer;
}
#resultBox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
#resultBox2{
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    width: 40%;
}
#resultBox2 div span,#resultBox2 div h3{
    color: white;
}

.userBox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
#userBox{
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    width: 40%;
}
#userBox .userBtn button{
    border: none;
    border-radius: 8px;
    padding: 8px;
    background-color: #2448fc;
    color: white;
    cursor: pointer;
    width: 100%;
}
.backBtn a{
    border: none;
    border-radius: 8px;
    padding: 8px;
    background-color: #2448fc;
    color: white;
    text-decoration: none;
}
.backBtn a:hover{
    color: white;
    text-decoration: none;
}



.questionBox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
#questionBox{
    border: 1px solid white;
    border-radius: 10px;
    padding: 20px;
}
.options{
    width: 100%;
}
.userOptions{
    border-radius: 7px;
    padding: 10px;
}
.submitBtn{
    border: none;
    border-radius: 8px;
    padding: 8px;
    background-color: #2448fc;
    color: white;
    cursor: pointer;
    width: 100%;
}